@import "_oa";

@include font-face("icomoon", font-files("icomoon/fonts/icomoon.eot", "icomoon/fonts/icomoon.woff", "icomoon/fonts/icomoon.ttf", "icomoon/fonts/icomoon.svg"));
[class^="icon-"], [class*=" icon-"] {
  font-family: "icomoon"; speak: none; font-style: normal; font-weight: normal; font-variant: normal;
  @include font-smoothing(antialiased);
}

.icon-crop:before {
  content: "\e906";
}
.icon-download:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\e942";
}
.icon-search:before {
  content: "\e986";
}
.icon-menu3:before {
  content: "\e9bf";
}
.icon-smile:before {
  content: "\e9e1";
}
.icon-new-tab:before {
  content: "\ea7e";
}
.icon-video-camera:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e942";
}
.icon-search:before {
  content: "\e986";
}
.icon-menu3:before {
  content: "\e9bf";
}
.icon-smile:before {
  content: "\e9e1";
}
.icon-new-tab:before {
  content: "\ea7e";
}
.icon-attachment:before {
  content: "\e904";
}
.icon-home:before {
  content: "\e902";
}
.icon-more_horiz:before {
  content: "\e901";
}
.icon-pin:before {
  content: "\e900";
}