@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qj62k5');
  src:  url('fonts/icomoon.eot?qj62k5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qj62k5') format('truetype'),
    url('fonts/icomoon.woff?qj62k5') format('woff'),
    url('fonts/icomoon.svg?qj62k5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-my_location:before {
  content: "\e900";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}

