@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?i4v33v');
  src:  url('fonts/icomoon.eot?i4v33v#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?i4v33v') format('truetype'),
    url('fonts/icomoon.woff?i4v33v') format('woff'),
    url('fonts/icomoon.svg?i4v33v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-keyboard_arrow_down:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e900";
}
.icon-home:before {
  content: "\e901";
}
.icon-images:before {
  content: "\e90e";
}
.icon-grin:before {
  content: "\e9e9";
}

